
.mainFxmlClass {

}
.leftPane{
 
     -fx-background-color  : linear-gradient(to bottom left, #3C439E ,#950871);
}
.imageViewLeftPane{
    -fx-image:url("../icon/broken-zone.png");  
}

.lottoName{
    -fx-font-familly : Arial;
    -fx-font-size : 25px;
    -fx-fill : white;
    -fx-text-alignment : center;
}

.connexion{
    -fx-background-radius : 15px;
    -fx-background-color : #800661;
    -fx-text-fill: white;
    -fx-alignment:CENTER;
   
}
.connexion:hover {
    -fx-background-color : dodgerblue;
}
.connexion:focused{
    
}

.connexion:pressed{
       -fx-scale-y: 0.9;
        -fx-scale-x: 0.9;
}
.creerCompte{
    -fx-background-radius : 15px;
    -fx-background-color : #800661;
     -fx-text-fill : white;
}

.creerCompte:hover{
   -fx-background-color : dodgerblue;
}

.creerCompte:pressed{
      -fx-scale-y: 0.9;
        -fx-scale-x: 0.9;
}
.textConnexion{
       -fx-font-size : 25px;
       -fx-fill : white;
}

.inscription{
    -fx-text-fill : #2f459e;
    -fx-font-size: 35px;
    -fx-text-alignment: left;
    
}

.buttonInscriptionGroup :focused{
    -fx-border-color: #2f459e;
    -fx-focus-color :#2f459e;
    -fx-border-widht : 1px ;
    -fx-margin: 15px;
    
}
.textField{
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color:gray;
    -fx-background-color: transparent;
}

.textField:focused{
   -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color:dodgerblue;
    -fx-background-color: transparent; 
    -fx-font-familly: Shruti;
    -fx-font-size:15px;
    
}

#AnchorPane{
    -fx-background-image : url("../icon/connexion.jpg")
}

.affichage{
    
    -fx-background-color: transparent; 
    -fx-font-familly: Arial;
    -fx-font-size:20px; 
    -fx-text-fill:white;
    -fx-fill:white;
    
}

